@import "tailwindcss";

@theme inline {
  --color-background: #2c3036;
  --color-secondary: #282C33;
  --color-nav: #999;
  --color-text: #ABB2BF;
  --color-primary: #C778DD;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/fira-code.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.active{
  color: var(--color-nav);
}

button{
  cursor: pointer;
}

*{
  font-family: 'Fira Code', monospace;
  scroll-behavior: smooth;
}


.nav-active{
  left: 0;
  animation: nav 0.5s ease-in-out;
}

@keyframes nav {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.float-vertical{
  --d: 2s;
  animation: float-vertical var(--d) ease-in-out infinite;
}

@keyframes float-vertical{
  50%{
    transform: translateY(-10px);
  }
}

.float-horizontal{
  --d: 2s;
  animation: float-horizontal var(--d) ease-in-out infinite;
}

@keyframes float-horizontal{
  50%{
    transform: translateX(-10px);
  }
}